@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary-heavy: hotpink;
    --primary-light: rgb(254, 172, 213);
    --secondary-dark: rgb(66, 60, 60);
    --secondary--light: white;
}

/* GENERAL FORMATTING */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-heavy);
    border-style: solid;
    border-color: var(--secondary--light);
    padding: 20px;
    color: var(--secondary-dark);
    min-width: 450px;
}
button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}
.mobile-nav-div{
    display: none;
}

#nav-div{
    position:fixed;
    top:0;
    left:0;
    background-color: var(--secondary-dark);
    padding: 10px 20px;
    width: 100%;
    z-index: 11;
}

 nav ul{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 100%;

 }

 nav li{
     border-right: 2px solid var(--primary-heavy);
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
 }

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin-right: 10px;
    
}

a{
    text-decoration: none;
    color: var(--secondary--light);
}

header{
    text-align: center;
}

.subsection-hr{
    width: 50%;
}

pre{
    margin: 0;
    width: 100%;
    overflow: auto;
}

pre > code{  /*Targets direct code children of pre, nothing else*/
    display: block;
    /* padding: 1rem; */
    word-wrap: normal;
}
code{
    display: flex;
    align-items: center;
}

figure{
    margin: 0;
}

.hidden{
    display: none;
}
header{
    margin: 0;
    padding-top: 60px;
}


/* CELLS AND TABLE FORMAT */


.example{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.changling-cell{
    height: 250px;
    width: 30%;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.button-cell{
    background-color: var(--primary-light);
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
}

.description-cell{
    height: 250px;
    width: 30%;
    min-width: 200px;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
}

/* .description-cell p{
    margin: 5px;
    overflow: auto;
    height: 180px;
    width: %;
    display: flex;
    justify-content: center;
    align-items: center;
} */



.code-snippet-cell{
    width: 50%;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
    padding: 5px 5px;
}

/* EXAMPLES */

#hide-changling{
    background-color: rgb(105, 210, 255);
    height: 60px;
    width: 60px;
}

#show-changling{
    background-color: green;
    height: 60px;
    width: 60px;
}

#fade-in-changling{
    background-color:blueviolet;
    height: 60px;
    width: 60px;
}

#animate-position-changling{
    background-color:orange;
    position: absolute;
    height: 60px;
    width: 60px;
}
#animate-height-toggle-changling{
    background-color: blue;
    height: 60px;
    width: 60px;
}

.changling-bar{
    width: 200px;
    background-color: coral;
    text-align: center;
}

.vertical-menu{
    position:relative;
    z-index: 10;
    
}


.vertical-menu-container{
    position: absolute;
    top: 30%;
}

.vertical-menu-container li{
    margin: 0;
}

#dblclick-slide-changling, #dblclick-slidetoggle-changling{
    display: none;
    text-align: center;
    width: 200px;
    background-color: cornflowerblue;
    position: absolute;
    top: 20px;
}

#dblclick-right-left-changling{
    position: absolute;
    text-align: center;
    width: 90px;
    background-color: cornflowerblue;
}

#dblclick-chain-changling{
    position: absolute;
    background-color: cyan;
    height: 60px;
    width: 60px;
}
@media screen and (max-width: 780px){
    #warning{
        display: inline;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: var(--secondary--light);
        text-align: center;
        padding: 10px;
        z-index: 15;

    }


    .changling-cell{
        width: 45%;
    }
    .button-cell{
        width: 45%;
    }
    .description-cell{
        width: 50%;
        height: 100%;
        text-align: center;
    }
    .code-snippet-cell{
        width: 80%;
    }

}

@media screen and (max-width: 580px){
    body{
        min-width: 350px;
    }
    #nav-div{
        display: none;
    }
    .code-snippet-cell{
        width: 100%;
    }
     .mobile-nav-div{
         display: inline;
         position: fixed;
         top:0;
         left: 0;
         z-index: 10;
     }

    #mobile-nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;
        left: 0;
    }
    
    .mobile-menu-bar{
        display: flex;
        height: 40px;
        width: 100%;
        background-color: var(--secondary--light);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        align-items: center;
       
    }


    #dblclick-right-left-changling-example{
        display: none;
    }

    .vertical-menu-container{
        z-index: 9;
        width: 100px;
        /* position: relative;
        top: 10px; */
    }

    .changling-bar{
        display: flex;
        justify-content: center;
        width: 100px;
        position: absolute;
        z-index: 8;
        
    }

    #dblclick-slide-changling, #dblclick-slidetoggle-changling{
        width: 100%;
        z-index: 7;
        position: absolute;
        top: 20px;
        padding-top: 20px;
    }
    #dblclick-slidetoggle-changling{
        top: 0px;
    }



    #mobile-menu-ul{
        background-color: var(--primary-light);
        position: fixed;
        width: 100%;
        max-height: 150px;
        top: 40px;
        text-align: center;
       
        z-index: 15;

    }

    #mobile-menu-ul li{
        border: none;
    }

    i{
        padding: 10px;
    }

    

}