@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary-heavy: hotpink;
    --primary-light: lightpink;
    --secondary-dark: rgb(66, 60, 60);
    --secondary--light: white;
}

/* GENERAL FORMATTING */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-heavy);
    border-style: solid;
    border-color: var(--secondary--light);
    padding: 20px;
}
button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

#nav-div{
    position:fixed;
    top:0;
    left:0;
    background-color: var(--secondary-dark);
    padding: 10px 20px;
    width: 100%;
}

 nav ul{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 100%;

 }

 nav li{
     border-right: 2px solid var(--primary-heavy);
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
 }

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin-right: 10px;
    
}

a{
    text-decoration: none;
    color: var(--secondary--light);
}

header{
    text-align: center;
}

.subsection-hr{
    width: 50%;
}

pre{
    margin: 0;
    width: 100%;
    overflow: auto;
}

pre > code{  /*Targets direct code children of pre, nothing else*/
    display: block;
    padding: 1rem;
    word-wrap: normal;
}
code{
    display: flex;
    align-items: center;
}

figure{
    margin: 0;
}

.hidden{
    display: none;
}
header{
    margin: 0;
    padding-top: 60px;
}


/* CELLS AND TABLE FORMAT */


.example{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.changling-cell{
    height: 200px;
    width: 33%;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-cell{
    background-color: var(--primary-light);
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
}

.description-cell{
    width: 30%;
    height: 200px;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
}

.description-cell p{
    margin: 10px;
}

.code-snippet-cell{
    width: 50%;
    background-color: var(--primary-light);
    border-style: solid;
    border-color: var(--secondary--light);
    margin: 5px;
}

/* EXAMPLES */

#hide-changling{
    background-color: rgb(105, 210, 255);
    height: 60px;
    width: 60px;
}

#show-changling{
    background-color: green;
    height: 60px;
    width: 60px;
}

#fade-in-changling{
    background-color:blueviolet;
    height: 60px;
    width: 60px;
}

#animate-position-changling{
    background-color:orange;
    position: absolute;
    height: 60px;
    width: 60px;
}
#animate-height-toggle-changling{
    background-color: blue;
    height: 60px;
    width: 60px;
}

.changling-bar{
    width: 200px;
    background-color: coral;
    text-align: center;
}

.vertical-menu{
    position:relative;
    
}

#dblclick-slide-changling, #dblclick-slidetoggle-changling{
    display: none;
    text-align: center;
    width: 200px;
    background-color: cornflowerblue;
    position: absolute;
    top: 20px;
}

#dblclick-down-right-changling{
    position: absolute;
    text-align: center;
    width: 90px;
    background-color: cornflowerblue;
}

#dblclick-chain-changling{
    position: absolute;
    background-color: cyan;
    height: 60px;
    width: 60px;
}

